<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RSS Diet</title>
    <link href="css/rss_diet.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/underscore-1.1.6.js"></script>
    <script src="//www.parsecdn.com/js/parse-1.1.15.min.js"></script>
    <script src="js/rss_diet.js"></script>
  </head>

  <body>

    <!-- Todo App Interface -->

    <div id="app">
      <div class="title">
        <h1>RSS Diet</h1>
      </div>

      <div class="content">
      </div>
    </div>

    <div id="credits">
      Powered by <a href="https://www.parse.com">Parse</a>.<br /><br />
      Copyright &copy; 2013.
    </div>

    <!-- Templates -->

    <script type="text/template" id="login-template">
      <header id="header"></header>
      <div class="login">
        <form class="login-form">
          <h2>Log In</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="login-username" placeholder="Email" />
          <input type="password" id="login-password" placeholder="Password" />
          <button>Log In</button>
          <div id="forgot-password">Forgot Password</div>
        </form>

        <form class="signup-form">
          <h2>Sign Up</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="signup-username" placeholder="Email" />
          <input type="password" id="signup-password" placeholder="Create a Password" />
          <button>Sign Up</button>
        </form>
      </div>
    </script>

    <script type="text/template" id="manage-todos-template">
      <div id="user-info">
        Signed in as <%= Parse.User.current().get("username") %> (<a href="#" class="log-out">Log out</a>)
      </div>

      <div class="section">

        <footer id="header">
          <input id="new-todo" placeholder="New feed name..." type="text" />
        </footer>

        <div id="main">
          <input id="toggle-all" type="checkbox">
          <label for="toggle-all">Mark all as complete</label>
          
          <ul id="todo-list">
            <img src='images/spinner.gif' class='spinner' />
          </ul>
        </div>

        <div id="todo-stats"></div>
      </div>
    </script>

    <script type="text/template" id="item-template">
      <li>
      	<div class="view">
      	  <label id="name-label" class="feed-name"><%= name %></label>
      	  <button id="feed-copy" class="hover-button">Copy</button>
      	</div>
        <div class="details">
      	  <label id="name-label" class="feed-name"><%= name %></label>
      	  <label id="url-label" class="feed-url"><%= url %></label>
      	  <button id="feed-edit" class="hover-button">Edit</button>
        </div>
        <div class="edits">
      	  <label class="editlabel">Name:</label> <input id="edit-name" class="edit" value="<%= name %>"><br>
        	<label class="editlabel">RSS URL:</label> <input id="edit-url" class="edit" value="<%= url %>">
        	<label class="editlabel">Title filter:</label> <input id="edit-title_filter" class="edit" value="<%= title_filter %>">
      	  <button id="feed-destroy" class="hover-button" title="Delete">✖</button>
        </div>
      </li>
    </script>

    <script type="text/template" id="stats-template">
      <footer id="footer">
	<span id="todo-count"><strong><%= remaining %></strong> active <%= remaining == 1 ? 'feed' : 'feeds' %></span>
	<ul id="filters">
	  <li>
	    <a href="javascript:void(0)" id="all" class="selected">All</a>
	  </li>
	  <li>
	    <a href="javascript:void(0)" id="active">Active</a>
	  </li>
	  <li>
	    <a href="javascript:void(0)" id="completed">Completed</a>
	  </li>
	</ul>
	<button id="clear-completed">Clear completed</button>
      </footer>
    </script>

  </body>

</html>
